<footer class="footer-position footer-color">

    <div class="footer-copyright text-center">
        <p class="footer-text"> © 2018 Copyright: <a href="#"> HogwartSim.nl</a></p>
    </div>

</footer>