@{
    Page.Title = "Login";
    Page.ContentWidth = 7;

    Layout = "~/Layouts/_DefaultLayout.cshtml";

    string action = (string)Request.Params["action"];
}


<div class="main-content col-md-8 offset-md-2">
    <div class="col-md-12">
        <div class="row">
            <h1>Error!</h1>
        </div>

        <div class="row">
            @if (action == "already_loggedin")
            {
                <p>It seems you are already logged in, this means you cannot create a new account or login again, please hit the <a href="~/Logout.cshtml">logout</a> button to do so.</p>
            }

            @if (action == "403")
            {
                <p>You lack the permissions to view this page, are you logged in?</p>
            }

            
            @if (action == "500")
            {
                <p>Oops, internal server error, please contact the server administrator.</p>
            }
        </div>
    </div>
</div>