@{
    Page.Title = "Home";
    Page.ContentWidth = 7;

    Layout = "~/Layouts/_DefaultLayout.cshtml";
}

<div class="main-content col-md-8 offset-md-2">
    <h2> Welcome! </h2>
    <br/>
    <p>
        First and foremost, welcome on our humble abode. <br />

        <br />
        <h4> For the guests </h4>
        If you are an guest, you can click the <a href="Wishlist.cshtml">wishlist</a> link and enter the given code.<br />
        You will be redirected to the wishlist!<br />

        <br />
        <br s/>
        <h4> For the married couple: </h4>
        On this website you can orchestrate your own wishlist for marriage gifts, we provide you with all the tools needed.<br />
        The website works as following, first of all you will need an account, which you can make <a href="Register.cshtml">here</a><br />
        Once you have made an account, you can <a href="Login.cshtml">login</a> and access your <a href="Wishlist.cshtml">wishlist</a>!<br />
        <br />
        Once you have an code, the website will redirect you to the wishlist, at the top you can find an unique code. <br />
        With this code, the guests can access your wishlist, The people with the code can check off any items on the wishlist they wish to buy<br />
        <br />
        Once the guest buy you an gift, they will no longer be listed in the wishlist. <br />
        However, you can still see the gifts that has been bought and gifts that still are listed.<br />
        Of course you can remove and add new gift at any point in time!

        <br /><br />

        <b> Good luck!</b>
    </p>
</div>