<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="IOT_app.IOT_app" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher_round" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:label="Smart Alarm Clock App"></application>
</manifest>