
/* Positioning classes */
.fl-right
{
    float: right;

}

/* Spacing classes.*/
.vm-1
{
	margin-top: 20px;
}

.vm-2 
{
	margin-top: 50px;
}

.vm-3 
{
	margin-top: 80px;
}

.hm-1 {
    margin-left: 20px;
}

.hm-2 {
    margin-left: 50px;
}

.hm-3 {
    margin-left: 80px;
}

/* Link (a element) related */
.inline-link
{
    color: royalblue;
}

/* Form related */
.form-label
{
    color: white;
}

.form-error
{
    color: tomato;
}

