@{
    Page.Title = "Error";
    Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
    <div class="row">
        <h1 class="harry-font">Error...</h1>
    </div>

    <div class="row vm-1">
        <p>
            Woops! An error occured! <br/>
            If this issue persists then please contact the server owner.
        </p>
    </div>
</div>
