@{
	Page.Title = "About us";
	Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<h1 class="harry-font"> About us </h1>
	</div>

	<div class="row vm-1">
		<p> We are a group of 4 enthusiastic programmers with a shared love for the Harry Potter universe. 
            We wanted to experience the life of a student at Hogwarts, so we decided to create Hogwartsim,<br />
            THE online Hogwarts simulator!<br /><br />
            For any questions or concerns, feel free to contact us at:
            <strong>hogwartsimsupport@gmail.com</strong><br /> <br />
		</p>
	</div>
</div>

