@{
    Page.Title = "SortingHat";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
       <!--clicking on the image redirects to the Sorteerhoed page-->
        <br /> <h1 class="harry-font">Sorting Hat</h1>
        <br />
        <br />
        <div id="hat"> <p>
    The students at Hogwarts school of witchcraft and wizardry are divided into 4 houses: Gryffindor, Ravenclaw, Hufflepuff and Slytherin. <br />Before you can attend this school, you will first have to be sorted into a house. Click on the Sorting Hat to begin!<br /><br />
    <a href="~/Sortinghat.cshtml"> <img style="height:500px; width: 500px; display:block; margin-left: auto; margin-right: auto;" src="~/Content/Images/sortinghat.png" /></a>
</p>
        </div>
       

</body>
</html>