@{Page.Title = "House Cup";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

    House winningHouse = HouseController.GetHouseWithMostPoints();
    string imagePath = ImageHelper.PathToImageInContent(winningHouse.HouseName + ".png");
}

<div>
    <br />
    <h1 class="harry-font">House Cup </h1><br />
    <h3>And the Winner of the 2018 House Cup is..</h3><br /><br />

    <h2 class="harry-font">@winningHouse.HouseName</h2>
    <p style="font-size:20px">with @winningHouse.Points.ToString() points!</p>
    <img style="height:auto; max-width: 600px; width:100%" src="@imagePath" />

    <br/>
    <br/>
    <a href="~/Portal.cshtml"><p>Congratulations! Click here to return to home</p></a>
</div>