@{
    Page.Title = "Home";
    Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<img class="logo" src="@Href("~/Content/Images/logo.png")"/>
	</div>

	<div class="row vm-1">
        <p>
            Have you always wanted to become a wizard? Enroll now! Become a student and follow virtual lessons on Hogwartsim, an online simulation based on the famous Hogwarts school of witchcraft and wizardry.<br />
            <br /><br />
            Click the enroll button to start enrolling into Hogwarts!
        </p>
	</div>

	<div class="row vm-2">

		<a class="button2" href="~/Enroll.cshtml">Enroll now!</a>
	</div>
</div>

