@{
    Page.Title = "Astronomy";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}


<!--Astronomy lesson with a link to Quiz Astronomy-->
<div id="divles">
    <br /> <h1 class="harry-font">Astronomy Lesson 1</h1>
    <p><h3>Study the material and take the Quiz</h3></p>
    <p>
        <img style="float:right" class="afbeelding" src="https://vignette.wikia.nocookie.net/harrypotter/images/8/8f/AstronomyPottermore.png/revision/latest?cb=20160130162034" />
        Professor: Aurora Sinistra<br />
        Classroom: Top of the Astronomy Tower<br />
        Time: Wednesday Night.<br />
        Required Equipment: Quill, Parchment, Books, Telescope, Star Chart.<br />
    </p>
    <br />
    <h4>General:</h4>
    <p>
        Astronomy is a core class and subject taught at Hogwarts School of Witchcraft and Wizardry and Uagadou School of Magic. Astronomy is a branch of magic that studies stars and the movement of planets. It is a subject where the use of practical magic during lessons isn’t necessary.
    </p>
    <br />
    <h4>Class Information:</h4>
    <p>
        Astronomy lessons are spent learning the names of stars and the movements of planets. It is a required class for the first five years of study, and is optional in the last two.
        In fifth year the Ordinary Wizarding Level examinations are taken. During the exam students must fill in a blank star chart. If a student achieves a passing O.W.L. score, they are allowed to advance to N.E.W.T.-level.
        Astronomy is one of the only fields of study at Hogwarts which has a direct equivalent in the Muggle world. Known student activities include learning the names of stars, constellations, and planets, as well as their location and movements, and describing the environments of planets and moons.
        Wiseacre's Wizarding Equipment in Diagon Alley sells telescopes and other equipment needed for Astronomy.
    </p>
    <br /> <h4>Location:</h4>
    <p>
        Astronomy classes take place in the top-most level of the Astronomy Tower, the tallest tower in Hogwarts Castle, and include sky observation sessions with telescopes (each student has to buy one of his/her own).<br />
    </p>
    <br />
    <p>
        <em>from: http://harrypotter.wikia.com/wiki/Astronomy </em>
    </p>
    <br />
    <br />
    <h4>Want to test your knowledge? <a href="~/QuizAstronomy.cshtml">Click here to take the quiz!</a></h4>
</div>