@{Page.Title = "Charms";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}

<!--Charms lesson with a link to Quiz Charms-->
<div id="divles">
    <br />  <h1 class="harry-font">Charms Lesson 1</h1>
    <p><h3>Study the material and take the Quiz</h3></p>
    <p>
        <br /><img src="https://i.pinimg.com/originals/8a/02/4b/8a024bfad3e791420aa8f4d23b3b6140.gif" alt="Charms logo" style="float:right;width:200px;height:180px;margin:15px" />
        Professor: Filius Flitwick<br />
        Classroom: Class 99 and Classroom 2E<br />
        Time: Tuesday, Thursday 1st period<br />
        Required equipment: Textbooks, wand, parchment, quill.<br />
    </p>
    <br />
        <h4>General:</h4>
    <p>
        Charms is a core class and subject taught at Hogwarts School of Witchcraft and Wizardry and Ilvermorny School of Witchcraft and Wizardry. Unsurprisingly, it specializes in the teaching of charms. Even though mastering the science of charm work is clearly essential to performing the greater part of magic, charm work is seen as a "softer option". Professor Filius Flitwick taught Charms for many years. It was rumored that his expertise with charmwork made him a dueling champion.

        <br /> A charm is a spell that adds certain properties to an object or creature. Charms are distinguished from transfigurations in that a charm adds or changes properties of an object; it focuses on altering what the object does as opposed to what the object is. For example, the Color Change Charm causes something to flash different colors; the Levitation Charm causes an object to levitate; the Cheering Charm improves upon a creature's mood.

        <br /><br /> Charms can be some of the most powerful and game-changing spells in existence. The Fidelius Charm, for example, can completely hide a person or a place in such a way that no one can find them unless they are given the location by a Secret Keeper. Memory Charms can be so strong that they completely remove a person's memory or even damage his or her mind permanently (while the Silencing Charm must be recast monthly on the Fwooper and the Disillusionment Charm must be performed daily on Hippogriffs and winged horses). Spells such as curses, jinxes, and hexes are referred to as "dark charms".

        <br /> Successful casting of a charm is achieved through concentration, precise wand movements, and the proper pronunciation of an incantation. When a charm is casted poorly it will fail and the caster runs the risk of it backfiring. An object that has a lasting charm placed on it is called bewitched, though charms in general appear to last longer than other spells.
    </p>
    <br />
    <h4>Class information:</h4>
    <p>
        Charms is a required subject for all students in their first five years at Hogwarts School of Witchcraft and Wizardry. The spells learned in Charms class are taken from textbooks. Students are taught specific wand movements and proper pronunciation. Often students partner up in class to experiment on one another. Charms was Hermione Granger's favorite subject until she started Arithmancy in 1993.
    </p>
    <br />
    <h4>Location:</h4>
    <p>
        Charms classes are held in Class 99 and Classroom 2E. Classroom 2E has three rows of desks, all facing the teacher's table, behind which sits a large upholstered chair with a high back. Two blackboards flank the teacher's table, and behind them is a small shelf with books and other objects, beneath a pair of windows
    </p>
    <br />
            <p>
                <em>from: http://harrypotter.wikia.com/wiki/Charms_(class) </em> 
            </p>
    <br />
    <br />


    <h4>Want to test your knowledge? <a href="~/QuizCharms.cshtml">Click here to take the quiz!</a></h4>
</div>