@{
    Page.Title = "Defence Against the Dark Arts";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}

<!--Defence against the Dark Arts lesson (DADA for short)  with a link to Quiz DADA-->
<div id="divles">
    <br /> <h1 class="harry-font">Defence Against the Dark Arts Lesson 1</h1>
    <p><h3>Study the material and take the Quiz</h3></p>
    <p>
        Professor: Amycus Carrow<br />
        Classroom: Class 31,104 and Classroom 3C<br />
        Time: Monday 2nd period.<br />
        Required equipment: Textbooks, wand, parchment, quill.<br />
    </p>

        <br />
        <h4>Information:</h4>

    <p>
        Defence Against the Dark Arts (sometimes written as DADA) is a subject taught at Hogwarts School of Witchcraft and Wizardry and Ilvermorny School of Witchcraft and Wizardry. In this class students learn how to magically defend themselves against Dark Creatures, the Dark Arts, and other dark charms. Offensive magic is also taught in this class, such as how to duel, which requires the use of both offensive and defensive magic.
        The subject is core class at Hogwarts. The position of Defence Against the Dark Arts professor here was once rumoured to be jinxed, as no teacher could hold the post for more than a year. Tom Marvolo Riddle (Lord Voldemort) jinxed the position because Dumbledore did not give him the job when he applied for it.
        Defence Against the Dark Arts is a required subject from first year to fifth year. The curriculum of the class varies greatly depending on what the professor at the time deems appropriate. Due to the jinx on the teaching post that was present before Lord Voldemort died, many teachers have been appointed to this post.
        The lessons generally have a practical approach, with many of the teachers (except Dolores Umbridge) believing that when it comes to the Dark Arts a practical approach is the best way, with theoretical assignments given as homework.
        In the fifth year Ordinary Wizarding Level examinations are taken; as such, students are spent learning new topics and possibly revisiting the past four years of lessons (depending on the teacher). As part of their Defence Against the Dark Arts O.W.L., students must sit a written exam one of the questions asks to describe the five signs of a werewolf and after students must complete a practical exam of; counter-jinxes, defensive spells, Riddikulus, and the Patronus Charm (for bonus points).
        To advance to the N.E.W.T. class a student must first achieve a high O.W.L. score of either 'Outstanding' or 'Exceeds Expectations'; most teachers set the bar at 'Exceeds Expectations'.
        Also, due to the course being directly related to the Dark Arts itself, dark wizards who wish to teach would typically apply for this course, notably being Lord Voldemort and Severus Snape.
    </p>

    <br /> <h4> Location and time:</h4>
    <p>
        Defence Against the Dark Arts classes take place on the first-floor, Class 104 in the North Tower and Classroom 3C on the third-floor. In Classroom 3C, an iron chandelier hung from the ceiling, as well as a dragon's skeleton. On one end of the classroom stands a projector that is activated by magic. Several desks and tables can be found in the classroom as well as some sets of large windows.

        Due to the constant changing of teachers, the curriculum of Defence Against the Dark Arts varies from year to year. Each teacher has his or her own priorities, and his or her respective efficiency proportional to his or her beliefs and methods, such as Quirinus Quirrell and Dolores Umbridge believing that theories are enough (which is, in fact, more hindering), while the more effective Remus Lupin, "Alastor Moody" and Severus Snape have a more balanced belief in theory and practical defence. Gilderoy Lockhart, fraudulent and incompetent, is one known teacher who taught nothing to the classes of his respective tenure, aside from nonsensical and unrelated materials, considering that he was hired solely for the purpose of ousting him as a fraud to the world.[6] In the 1997-1998 school year, the class was changed to Dark Arts.
    </p>

    <br /><h4>Professors:</h4>
    <img src="~/Content/Images/DADAprofessors.png" />
    <br />
    <br /><h4>Dark Spells:</h4>
    <p>
        A Dark spell is primarily defined as any spell that consistently affects the object in a negative manner, usually associated with varying levels of discomfort.
        Dark spells can be classified into three groups: jinxes, hexes, & curses. These groups form a hierarchy, with jinxes at the base, hexes in-between, and curses at the top. The further one ascends up this hierarchy, the more wicked, the stronger, the longer-lasting and the less reversible the Dark spell's effects appear to be. The Unforgivable Curses are the strongest known Dark spells in existence, as their effects are very powerful and their use requires skill.
        The following are some Dark spells:
    </p>
          
    <img src="~/Content/Images/DarkSpells.png" />
    <br />
    <br />
    <p>
        <em>from: http://harrypotter.wikia.com/wiki/Defence_Against_the_Dark_Arts </em>
    </p>
    <br />
    <br />
    <h4>Want to test your knowledge? <a href="~/QuizDADA.cshtml">Click here to take the quiz!</a></h4>
</div>