@{
    Page.Title = "Herbology";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}

<!--Herbology lesson with a link to quiz Herbology-->
<div id="divles">
    <h1 class="harry-font">Herbology Lesson 1</h1>
    <p><h4>Study the material and take the Quiz</h4></p>
    <p>
        <img src="https://images.pottermore.com/bxd3o8b291gf/23VZyGVSg8MyMieGeg04qk/02ca0f7af74c33ccfd6a8b26f871bdeb/MandrakeSeedlings_PM_B2C6M2_MandrakeSeedlingsInHerbologyLesson_Moment.jpg?w=727&h=409&fit=thumb&f=center&q=85" alt="Screaming Mandrake" style="float:right;width:300px;height:180px;margin:15px" />
        Professor: Neville Longbottom<br />
        Classroom: Class 102 and the Greenhouse<br />
        Time: Wednesday 2nd period<br />
        Required equipment: Textbooks, dragon-hide gloves, earmuffs, dragon dung, mooncalf dung, wand, parchment, quill.<br />
    </p>
        <br />
        <h4>General:</h4>
    <p>    
    Herbology is the study of magical and mundane plants and fungi, making it the wizarding equivalent to botany. Herbology is a core class and subject taught at Hogwarts School of Witchcraft and Wizardry and Castelobruxo in which students learn to care for and utilize plants, learn about their magical properties and what they are used for. Many plants provide ingredients for potions and medicine, while others have magical effects of their own right.
        Herbert Beery was the professor of this subject at Hogwarts for many years prior 1955. After he retired, Pomona Sprout took over the post prior to 1991, and later Neville Longbottom by 2017.<br />
    </p>    
        <br /><h4>Class information:</h4>
    <p>    
    Herbology is a mandatory class at Hogwarts for the first five years of a student's education. Students spend class time learning about the different varieties of magical plants that exist. The further into a student's education the more difficult and dangerous the plants become.
        Pomona Sprout was the Herbology professor at Hogwarts in the 1990's; by 2017, however, she had either been replaced by, or was working alongside Neville Longbottom, who was likewise a professor. Neville was one of her students in the past, and a gifted herbologist.<br />
    </p>    
        <br /><h4>Location:</h4>
        <img src="https://scontent.cdninstagram.com/vp/b527a4890b1d5bc0c544311b0f25d9b0/5B41841C/t51.2885-15/e35/12822288_1537023283258183_1307964705_n.jpg" alt="Gloves" style="float:right;width:300px;height:180px;margin:15px" />
    <p>    
    These classes are held in the grounds of Hogwarts, in the greenhouses. The greenhouses are located behind the castle. Classes are held in different greenhouses depending on the students' year, with more advanced and dangerous plants typically reserved for O.W.L. or N.E.W.T.-level study.
    </p>    
        <br /><h4>Important equipment:</h4>
    <p>
        Dragon dung – used as fertilizer<br />
        Dragon-hide gloves – worn when handling dangerous plants.<br />
        Earmuffs – worn by students and the professor when repotting Mandrakes, so they could not harm students with their sound.<br />
        Mooncalf dung – used as fertilizer, makes magical plants grow well.<br />
        Wand - to cast Herbology-related spells, such as Diffindo for cutting precisely.<br />
    </p>    
    <br />
    <p>
        <em>from: http://harrypotter.wikia.com/wiki/Herbology </em>
    </p>    
          
        <br />
        <br />

    <h4>Want to test your knowledge? <a href="~/QuizHerbology.cshtml">Click here to take the quiz!</a></h4>     
</div>