@{
    Page.Title = "History of magic";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!--History of Magic lesson with a link to Quiz History of Magic-->
<div id="divles">
        <h1 class="harry-font">History of Magic lesson 1</h1>
        <h3>Study the material and take the Quiz</h3>
        <p>
            <img src="https://vignette.wikia.nocookie.net/harrypotter/images/7/70/HistoryofMagic.png/revision/latest/scale-to-width-down/1000?cb=20161210024606" alt="HoMClassroom" style="float:right;width:400px;height:180px;margin:15px" />
            Professor: Cuthbert Binns<br />
            Classroom: Class 72 and Classroom 4F<br />
            Time:Thursday 2nd period<br />
            Required equipment: Textbooks, parchment,  quill.<br />
            <br />
        </p><h4>General</h4>
        <p>
                  
            History of Magic is a core class and subject taught at Hogwarts School of Witchcraft and Wizardry. This class is a study of magical history. This is one of the subjects where the use of magic practically isn't necessary. History of Magic is taught from the first year to the fifth, with the option of N.E.W.T. courses in sixth and seventh year.
            <br /><br />
        </p><h4>Werewolf code of conduct</h4>
        <p>
                  
            The Werewolf Code of Conduct, developed in 1637 by the British Ministry of Magic was a set of rules outlining the responsibilities of werewolves, such as preventing any possible attacks by locking themselves up securely every month.
            Unsurprisingly, the Werewolf Code of Conduct was ultimately a failure, seeing as no one showed up to sign it, since no one was prepared to walk into the Ministry and admit to being a werewolf, a great stigma among the wizarding society.
        <br /> <br /></p><h4>Emeric the Evil</h4>
        <p>
                 
                  
            Emeric the Evil was a short-lived but exceptionally aggressive wizard. He was once the master of the Elder Wand and, with it, he terrorised the south of England in the early Middle Ages. He was "slaughtered" in a ferocious duel against Egbert the Egregious.<br />
            <br />
        </p><h4>Uric the Oddball</h4>
        <p>
                  
            Uric the Oddball was a medieval wizard, who became famous for his eccentric behaviour, such as wearing a jellyfish as a hat, and sleeping in a room with fifty pet Augureys. He is considered to be one of the weirdest wizards in history, and, as such, is often the punchline of wizarding jokes.<br />
        <br /></p><h4>Goblin Rebellions</h4>
        <p>
                
            The Goblin Rebellions were a series of rebellions in which the goblin population of the Wizarding world revolted against discrimination and prejudice toward their kind by wizards and witches. They were most prevalent during the seventeenth and eighteenth centuries, but even in modern times, there are subversive goblin groups working in secret against the Ministry of Magic, according to the Daily Prophet. The historical rebellions have been described as "bloody and vicious.
            <br /><br />
            One rebellion, in 1612, took place in the vicinity of Hogsmeade Village; the Three Broomsticks Inn was used as the wizard headquarters for the rebellion.
            <br />
            In 1752, another goblin rebellion occurred in Great Britain. Due to mismanaging this rebellion, Minister for Magic Albert Boot resigned. His replacement, Basil Flack, lasted in office only two months, resigning when the goblins allied themselves with the werewolves. Hesphaestus Gore was then elected Minister.
            <br />
            Another rebellion took place in the 18th century and was noted to be a popular one, as Urg the Unclean, a goblin, participated in that one and was featured on a Chocolate Frog Cards for doing so.
            <br /><br />
            Today, the Goblin Rebellions are one of the most important topics Hogwarts School of Witchcraft and Wizardry students study in History of Magic. For the final exams during their first year, they have to memorise the dates of the Goblin Rebellions. During his fourth year exams, Ron Weasley could not remember all the names of the goblin rebels and invented some; by luck, he guessed Urg the Unclean's name correctly.
            Given the anger expressed by some goblins, such as Griphook, about wizards denying goblins the right to use wands, it may indeed have been a contributing factor to past rebellions.
        </p>
        <br />
        <p>
            <em>
                from: http://harrypotter.wikia.com/wiki/History_of_Magic
                      
            </em>
        </p>
        <br />
        <br />
            <h4>Want to test your knowledge? <a href="~/QuizHistoryofmagic.cshtml">Click here to take the quiz!</a></h4>
    </div>