@{
    Page.Title = "Lesson Overview";
    Layout = "~/Shared/_DefaultPage.cshtml";
}

<!--An overview of the 7 lessons, clicking on any lesson redirects you to the lesson page of said lesson-->
<br /> <br />   <h1 class="harry-font">Lessons Overview</h1>
<div class="gallery">
    <a href="~/LesAstronomy.cshtml">
        <img src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/istock-664670026.jpg?itok=zPzWNpmT" alt="AstronomyPic" width="300" height="200">

        <div class="desc">Astronomy</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesCharms.cshtml">
        <img src="https://i1.wp.com/bloghogwarts.com/wp-content/uploads/2014/09/luna-patronus.jpg?fit=1200%2C723" alt="CharmsPic" width="300" height="200">

        <div class="desc">Charms</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesHerbology.cshtml">
        <img src="http://4.bp.blogspot.com/-40Jyj5Q0cxw/UZYuwNlyBaI/AAAAAAAAAOo/ZNuNr3_lIcs/s1600/mandrake3.jpg" alt="HerbPic" width="300" height="200">

        <div class="desc">Herbology</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesPotions.cshtml">
        <img src=https://i.pinimg.com/originals/89/ef/4c/89ef4cad5c14425d8e04d4c8adf2ac40.jpg alt="PotionsPic" width="300" height="200">

        <div class="desc">Potions</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesHistoryofmagic.cshtml">
        <img src=http://15559-presscdn-0-97.pagely.netdna-cdn.com/wp-content/uploads/2018/01/Concept_Artwork_Hogwarts_Library.jpg alt="HistoryPic" width="300" height="200">

        <div class="desc">History of Magic</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesDADA.cshtml">
        <img src=https://s.yimg.com/ny/api/res/1.2/FiI64eiPfUwTHnl2oK8fpA--/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/hello_giggles_454/75a33feedca500024553603d73b6df54 alt="DADAPic" width="300" height="200">

        <div class="desc">Defence Against the Dark Arts</div>
    </a>
</div>

<div class="gallery">
    <a href="~/LesTransfiguration.cshtml">
        <img src=https://vignette.wikia.nocookie.net/harrypotter/images/7/72/MouseToSnuffbox.jpg/revision/latest?cb alt="TransPic" width="300" height="200">

        <div class="desc">Transfiguration</div>
    </a>
</div>