@{
    Page.Title = "Potions";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}

<!--potions lesson with a link to Quiz potions-->
<div id="divles">
    <h1 class="harry-font">Potions Lesson 1</h1>
    <p><h3>Study the material and take the Quiz</h3></p>

    <img src="http://2.bp.blogspot.com/_LYnjZQ_c4yo/TQog-hpyLEI/AAAAAAAAAD8/Wp8Y0_YovOA/s1600/IMG_0194.JPG" alt="Potions" style="float:right;width:300px;height:180px;margin:15px" />
    <p>
        Professor: Horace Slughorn<br />
        Classroom: Dungeons<br />
        Time: Monday, Wednesday, Friday 1st period<br />
        Required equipment: Textbooks, cauldron, brass scales, phials, ingredients, wand, parchment, quill.<br />
    </p>
    <br />
    <h4>General:</h4>
    <p>
        Potions is a core class and subject taught at Hogwarts School of Witchcraft and Wizardry and Ilvermorny School of Witchcraft and Wizardry. In this class, students learn the correct way to brew potions. They follow specific recipes and use various magical ingredients to create the potions, starting with simple ones and moving to more advanced ones as they progress in knowledge. A standard potions kit includes plant ingredients such as Belladonna and supplies such as glass phials and weighing scales. The professor of this subject is referred to as a Potions Master. The Potions Master at Hogwarts for many years was Horace Slughorn and later Severus Snape.<br />
    </p>
    <br />
    <h4>Class information:</h4>
    <p>
        At Hogwarts School of Witchcraft and Wizardry, Potions is a required subject for students, from first year to fifth year. Potion recipes can be found in many books, including the books the students at Hogwarts use in their classes, but the intricacies of timing, ageing, stirring techniques, and bottling which are much more difficult to learn without the mentoring of the experienced masters. Certain ingredients can be found in the cupboard in the classroom, but others have to be bought before the start of the year at the apothecary. Around 1981, Severus Snape became the professor of Potions at Hogwarts. Snape served as the school's potions professor through 1996, until he became the DADA professor and was replaced by Horace Slughorn.<br />
        Ordinary Wizarding Level examinations are taken at the end of a student's fifth year; as such students are spent learning Ordinary Wizarding Level potions and possibly revisiting the past four years of lessons. As part of their Potions O.W.L., students must sit a written exam one of the questions asks to describe Polyjuice Potion and its purpose and after students must complete a practical exam. Professor Snape mentions that achieving a high mark at Ordinary Wizarding Level is difficult., which was later demonstrated in 1996, when only twelve students reached the required level to advance to N.E.W.T.<br /><br />
        Potions are magical mixtures commonly brewed in cauldrons and used to create a number of effects on the drinker. Potions range in effects and nature and in difficulty as well. An example of a beginners potion is the Cure for Boils, which is the first potion learned at Hogwarts School of Witchcraft and Wizardry. An incredibly advanced and challenging one is the Polyjuice Potion, that even adult Witches and Wizards have trouble with.<br /><br />
    </p>
    <h4>Location:</h4>
    <p>
        Potions lessons take place in the Dungeons. The classroom used to be squared-sized, very large, with large tables and windows. In the corner resides a stone basin used to wash students' hands and ladles. From 1992-onwards, the classroom was of an oval shape and relatively smaller, with small work tables. In 1996, the classroom was extended, adding space for more work tables.
    </p>
    <br />
    <p>
        <em>
            from: http://harrypotter.wikia.com/wiki/Potions_(class),
            http://harrypotter.wikia.com/wiki/Potion
        </em>
    </p>
    <br />
    <br />
    <h4>Want to test your knowledge? <a href="~/QuizPotions.cshtml">Click here to take the quiz!</a></h4>

</div>
