@{
    Page.Title = "Transfiguration";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!--transfiguration lesson with a link to Quiz transfiguration-->
<div id="@*divles*@">
    <h1 class="harry-font">Transfiguration Lesson 1</h1>
    <h3>Study the material and take the Quiz</h3>
    <p>
        <img src="https://vignette.wikia.nocookie.net/harrypotter/images/5/56/116.jpg/revision/latest?cb=20160115155119" alt="Trans Lesson Logo" style="float:right;width:200px;height:180px;margin:15px" />
    <p>
        Professor: Minerva McGonogall<br />
        Classroom: Class 1, 34, 99 and Classroom 1B<br />
        Time: Thursday 2nd period<br />
        Required equipment: Textbooks, wand, parchment, quill.<br />
    </p>
    <br /><h4>General</h4>
    <p>

        Transfiguration is a branch of magic that focuses on the alteration of the form or appearance of an object, via the alteration of the object's molecular structure[1]. Transfiguration can be done to most (if not all) objects and, as with most forms of magic, it includes — but is hardly limited to — Transfiguration spells. Transfiguration is also regarded as "very hard work" and is "more scientific" than any other form of magic, i.e. the practising witch or wizard has to get it exactly right for the transfiguration to be successful.
        <br /><br />
        Transfiguration is a very systematic, exact magical discipline, working best for the scientifically-inclined mind, and as such it is deemed "very hard work" (especially compared to Charms, which affords a much larger margin for personal creativity).[3] Also "when transfiguring, it is important to make firm and decisive wand movements. Do not wiggle or twirl your wand unnecessarily, or the Transfiguration will certainly be unsuccessful" as stated by Emeric Switch in A Beginner's Guide to .
        <br /><br />
    </p>
    <h4>Limitations</h4>
    <p>

        The branch of Transfiguration known as transformation magic has the largest number of restrictions placed upon it (both natural and legal). Firstly, even before one becomes an Animagus (both a Trans-species transformation and Human transfiguration) one is monitored closely as attempting to become such a thing is highly dangerous and even if one succeeds one must then register oneself at the Ministry of Magic (or face trial), due to the many potential uses of this kind of transfiguration in criminal activity. An Animagus is also limited by the fact that they can only transfigure into one kind of animal this way. Conversely, general Human Transfiguration is more varied in that it allows one to transform another into a plethora of different animals but, on the other hand, the object of transfiguration will then possess the intelligence of the creature they become (unlike Animagi, who retain all their mental faculties in animal form). If this is an animal of lower intelligence (which is more likely than not) then one will, by extension, be entirely dependent on the caster to untransfigure them, which could potentially cause someone to be stuck in that form forever (which is why it is not recommended to cast this type of transfiguration on oneself).
        <br /><br />
        Usually, a wizard or witch attempting to perform a Transfiguration spell would often find it easier to transfigure one thing into something else provided that the state it was originally in had something in common to what it would be converted into (i.e. a statue of a dragon turning into an actual dragon, albeit of the similar size).
        <br /><br />
        Transformation is also limited by the fact that the dead cannot be revived via magic and hence one cannot "transfigure" the dead back to life, no matter how recently the death occurred. The overall mass and size of the object or entity to be transfigured into something else must also be considered, since it was stated by Hermione Granger that it was extremely difficult to transfigure something as large as a dragon, even by a skilled transfiguration expert like McGonagall.
        <br /><br />
        Conjuration is principally limited by the Five Principal Exceptions to Gamp's Law of Elemental Transfiguration. The first (and only known) of these is the restriction that one cannot conjure food (though, pre-existing food can be charmed in certain ways such as by summoning & multiplication and transfigured by the other branches). Similarly, Wizarding law sets legal limitations on what one is and isn't allowed to conjure. Finally, even if it is both possible and legal to conjure something it will ultimately never last.
        <br /><br />
        Strangely, whilst there are a variety of limits placed on Conjuration, the branch referred to as Vanishment seems to be completely unrestricted (this also appears true of Untransfiguration).
        <br />
    </p>

    <br /><h4>Dangers</h4>
    <p>

        Due to the applied, precise nature of Transfiguration magic there is a large potential for it to go disastrously wrong, even for the experts. This is especially true if the practitioner is not taking things seriously and/or punching above their weight (with respect to the magic they are attempting to perform).
        <br /><br />
        If it is done improperly, the Transfigured object can become half-Transfigured or permanently stuck in one state (whether fully or partially Transfigured); for example, Viktor Krum once half-Transfigured himself into a shark in the Second Task of The Triwizard Tournament in 1994 (although he was not stuck in that form, so it may have been intentional).
    </p>
    <br /><br />
    <h4>Classification</h4><p>

        Currently, Transfiguration is divided into four branches (though — whilst based on canonical information — the typology is conjectural). In these main four branches there are also sub-branches, such as human Transfiguration and Switching, which would be in the branch of Transformation. They are, in ascending order of difficulty: Transformation, Untransfiguration Vanishment, and Conjuration.
    </p>
    <br /><h4>Human Transfiguration</h4>
    <p>

        Human Transfiguration is a sub-branch of Transfiguration and a form of transformation in which one transfigures human body parts or an entire human being into another form. This branch is more difficult than any other and is only taught at N.E.W.T.-level.
    </p>
    <br /><h4>Untransfiguration</h4>
    <p>

        Untransfiguration is the art of reversing a previous transfiguration (and is therefore considered both a transfiguration and a counter-spell). It is a mysterious branch of transfiguration. It is known that untransfiguration for failed transformations was taught early.
        <br /><br />
        Reparifarge is a general spell used to counter the effects of a Transformation spell that was poorly performed and only partially transfigured the object in question. This spell is covered in A Beginner's Guide to Transfiguration.
    </p>
    <br /><h4>Switching</h4>
    <p>

        Switching is another sub-type of transformation magic. During switching, a physical feature from one of the two targets is switched with that of another, hence the name. It differs from a straight transformation in two ways: firstly, switching targets two objects simultaneously; secondly, the change in one of the pair is dependent on a change in the other.
    </p>
    <br /><h4>Trans-species transformations</h4>
    <p>

        This is a term which refers to transformation magic that (partially or completely) changes the target organism into a new species. It includes Cross-species switches and hence has some overlap with switching magic.
    </p>
    <br /><h4>Vanishment</h4>
    <p>

        Vanishment is the art of causing things to Vanish; to make things go into non-being. Vanishment is moderately difficult — learned in fifth year — and is considered one of the hardest transfigurations to be tested on in one's O.W.L. The difficulty of the Vanishment to be performed positively correlates with the complexity of the organism to be Vanished (for example, invertebrates are easier to Vanish than vertebrates).
        <br /><br />
        Strangely, only one incantation is needed to Vanish any object - Evanesco , Latin for "disappear" (with the intent of the caster alone directing it), unlike conjurations (which can require a variety of complicated incantations)
    </p>
    <br /><h4>Conjuration</h4>
    <p>

        Conjuration is the art of conjuring things (bringing things into being) and hence is the opposite of Vanishment. It is harder than its counter-part, being a N.E.W.T.-level feat.
        <br /><br />
        One should note that there are numerous restrictions (both in Law and Nature) placed on the art of Conjuration, unlike Vanishment which appears to be unrestricted. For example, something that is conjured will not last (or, "remain in being") but it is unknown whether or not something that is vanished could forever remain in non-being if left to its own devices.
    </p>
    <br />
    <p>
        <em>from: http://harrypotter.wikia.com/wiki/Transfiguration </em>
    </p>
    <br />
    <br />
    <h4>Want to test your knowledge? <a href="~/QuizTransfiguration.cshtml">Click here to take the quiz!</a></h4>
</div>
