@{
    Page.Title = "QuidditchRules";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <style>
        div.text{
            font-size: 16px
        }

    </style>
</head>
<body>
    <!--1st Quidditch page, clicking on the RETURN-button will take the user back to the Overview.-->
    <div id="divles">
        <br /> <h1 class="harry-font">Step 1: The Rules</h1>
        <img style="float:right; height:200px; width:300px" class="afbeelding" src="https://www.wikihow.com/images/thumb/a/a9/Play-Muggle-Quidditch-Step-5.jpg/aid260657-v4-900px-Play-Muggle-Quidditch-Step-5.jpg" />
        <p><h3>Before you play you must know these simple rules:</h3></p>
        <div class="text">
            <ol>
                <li>Never let go of your broomstick! Hold it between your legs with one hand at all costs!</li>
                <li>You need balls! One volleyball (quaffle), three dodgeballs (bludgers) and a tennisball (snitch).</li>
                <li>Score points! Throwing a quaffle through a hoop gives your team 10 points. Catching the snitch gets 30 point and ends the game.</li>
                <li>Dismount the enemies! Hitting someone with a bludger means they have to get off their broomstick and tag a hoop before they get back into the field.</li>
                <li>Don’t break the rules! A ref can call a penalty and remove a player from the field. Stay in your role, stay on your boomstick, don’t play rough and play fair</li>
            </ol>
            <br /><br /><a class="button2" href="~/QuidditchOverview.cshtml">Return</a>
        </div>

    </div>
</body>
</html>