@{
    Page.Title = "Quidditch";
    Layout = "~/Shared/_QuidditchPage.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheets/quidditch.css" type="text/css" rel="stylesheet" />
</head>
<body class="background">
    
    <!--Overview of the four Quidditch pages, clicking on one of the boxes will take you to that page.-->
    
    <br /> <br />   <h1 class="harry-font">Quidditch Overview</h1>


    <div class="gallery">
        <a href="~/QuidditchRules.cshtml">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71Hyve225YL._SX355_.jpg" alt="QuidditchRules" width="300" height="200">

            <div class="desc">Part 1: The Rules</div>
        </a>
    </div>

    <div class="gallery">
        <a href="~/QuidditchSetup.cshtml">
            <img src="https://www.mat.ucsb.edu/~g.legrady/academic/courses/03w200a/projects/quidditch/media/stadium.png" alt="QuidditchField" width="300" height="200">

            <div class="desc">Part 2: Setting Up</div>
        </a>
    </div>


    <div class="gallery">
        <a href="~/QuidditchRole.cshtml">
            <img src="https://www.wikihow.com/images/thumb/f/ff/Play-Muggle-Quidditch-Step-18.jpg/aid260657-v4-728px-Play-Muggle-Quidditch-Step-18.jpg" alt="QuidditchRoles" width="300" height="200">

            <div class="desc">Part 3: Roles</div>
        </a>
    </div>

    <div class="gallery">
        <a href="~/QuidditchPlay.cshtml">
            <img src=https://www.wikihow.com/images/thumb/2/26/Play-Muggle-Quidditch-Step-30.jpg/aid260657-v4-900px-Play-Muggle-Quidditch-Step-30.jpg alt="QuidditchPlaying" width="300" height="200">

            <div class="desc">Part 4: Play</div>
        </a>
    </div>

    </body>
</html>
