@{
    Page.Title = "QuidditchRole";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <style>
        div.text {
            font-size: 16px
        }
    </style>
</head>
<body>
    <!--3rd Quidditch page, clicking on the RETURN-button will take the user back to the Overview.-->
    <div id="divles">
        <br /> <h1 class="harry-font">Step 3: Assigning Roles</h1>
        <img style="float:right; height:200px; width:300px;" class="afbeelding" src="https://www.wikihow.com/images/thumb/3/3c/Play-Muggle-Quidditch-Step-17.jpg/aid260657-v4-900px-Play-Muggle-Quidditch-Step-17.jpg" />
        <p><h3>Make sure that everyone knows what their roles are. The following roles have to be picked:</h3></p>
        <div class="text">
            <p>Make sure to:</p>
            <ol>
                <li>Pick captain who makes sure to choose who gets what role.</li>
                <li>Pick chasers who are going to score by passing the quaffing through the hoops.</li>
                <li>Pick beats who throw bludgers at the enemies, so they have do get off their broom.</li>
                <li>Pick a keeper so it's harder for enemies to score.</li>
                <li>Pick a seeker who has to catch the snitch.</li>
                <li>Pick a person who has to carry the snitch.</li>
                <li>Pick a ref to make sure it game is played fair.</li>
                <li>Wear the same colors as a team so you can tell yourself apart from the enemies.</li>
            </ol>
            <br /><br /><a class="button2" href="~/QuidditchOverview.cshtml">Return</a>
        </div>

    </div>
</body>
</html>