@{
    Page.Title = "Quidditch Setup";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <style>
        div.text {
            font-size: 16px
        }
    </style>
</head>
<body>
    <!--2nd Quidditch page, clicking on the RETURN-button will take the user back to the Overview.-->
    <div id="divles">
        <br /> <h1 class="harry-font">Step 2: Setting Up</h1>
        <img style="float:right; height:200px; width:300px;" class="afbeelding" src="https://www.wikihow.com/images/thumb/4/44/Play-Muggle-Quidditch-Step-9.jpg/aid260657-v4-900px-Play-Muggle-Quidditch-Step-9.jpg" />
        <p><h3>Follow these steps so you can set up your field:</h3></p>
        <div class="text">
            <ol>
                <li>Find a big field. To play competative Quidditch you’ll need to have a field that is at least 150mx55m long. </li>
                <li>Get six sticks of 3 different lengths so that the hoops are at different heights.</li>
                <li>Tie a hoop to your sticks, make sure the hoop is big enough so that you can throw a ball through it.</li>
                <li>Assemble the goals so they are evenly spaced next to eachother.</li>
            </ol>
            <br /><br /><a class="button2" href="~/QuidditchOverview.cshtml">Return</a>
        </div>

    </div>
</body>
</html>