@{
    Page.Title = "QuidditchPlay";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <style>
        div.text {
            font-size: 16px
        }
    </style>
</head>
<body>
    <!--4th Quidditch page, clicking on the RETURN-button will take the user back to the Overview.-->
    <div id="divles">
        <br /> <h1 class="harry-font">Step 4: Playing Quidditch</h1>
        <img style="float:right; height:200px; width:300px;" class="afbeelding" src="https://www.wikihow.com/images/thumb/0/03/Play-Muggle-Quidditch-Step-20.jpg/aid260657-v4-900px-Play-Muggle-Quidditch-Step-20.jpg" />
        <p><h3>Now that you know the rules and everyone has a role, this is how a game will be played:</h3></p>
        <div class="text">
            <p>Make sure to:</p>
                <ol>
                    <li>Players get into a starting position and the ref throws the balls on the field.</li>
                    <li>The keeper defends, the chaser scores and the beater disrupts. </li>
                    <li>If you've been disrupted get off your broom and tag a hoop.</li>
                    <li>Pick a keeper so it's harder for enemies to score.</li>
                    <li>Make sure theres someone who count the score and time.</li>
                    <li>After a couple of minutes the snitch will be released.</li>
                    <li>Stop the game once the snitch has been caught.</li>
                    <li>Did the game end up at a tie after the snitch has been caught? The next team to score, wins.</li>
                </ol>
            <br /><br /><a class="button2" href="~/QuidditchOverview.cshtml">Return</a>
        </div>

    </div>
</body>
</html>