@{
    Page.Title = "SortingHat";
    Layout = "~/Shared/_DefaultPageAuthOnly.cshtml";

    bool valid = true;
    string house = "";
    string houseImagePath = "";

    if(!AuthController.IsLoggedIn)
    {
        Response.Redirect("~/Login.cshtml");
    }

    User user = UserController.GetUserById(AuthController.LoginId);

    if(user.House > 0)
    {
        Response.Redirect("~/Portal.cshtml");
    }

    if (IsPost)
    {
        IDictionary<string, int> points = new Dictionary<string, int>
        {
            { "hufflepuff", 0 },
            { "slytherin", 0 },
            { "ravenclaw", 0 },
            { "gryffindor", 0 },
        };

        string[] answers = new[]
        {
            Request["vraag1"],
            Request["vraag2"],
            Request["vraag3"],
            Request["vraag4"],
            Request["vraag5"]
        };

        foreach (var answer in answers)
        {
            if (answer == null)
            {
                valid = false;
                break;
            }

            points[answer]++;
        }

        if (valid)
        {
            house = points.OrderByDescending(n => n.Value)
                .FirstOrDefault()
                .Key;

            houseImagePath = ImageHelper.PathToImageInContent(house) + ".png";

            House houseObject = HouseController.GetHouseByName(house);

            UserController.AssignHouse(user, houseObject);
            HouseController.IncrementMemberCount(houseObject);
        }
    }
}

@if (!IsPost)
{
    <form method="post">
        <br /> <h1 class="harry-font">Sorting Hat</h1>
        <br />
        <br />

        <div id="quiz">
            <p>
                <strong>Question 1</strong> <br />
                What kind of wizard do you want to become?<br />
                <input type="radio" value="slytherin" name="vraag1">&nbsp;&nbsp;A great wizard, powerful and respected <br />
                <input type="radio" value="hufflepuff" name="vraag1">&nbsp;&nbsp;A good wizard, just and kind<br />
                <input type="radio" value="ravenclaw" name="vraag1">&nbsp;&nbsp;A wise wizard, clever and knowledgeable<br />
                <input type="radio" value="gryffindor" name="vraag1">&nbsp;&nbsp;A bold wizard, courageous and adventurous <br />
            </p>
            <p>
                <strong>Question 2</strong> <br />
                If you had to say something bad about yourself, would you say you are:<br />
                <input type="radio" value="hufflepuff" name="vraag2">&nbsp;&nbsp;Cowardly<br />
                <input type="radio" value="ravenclaw" name="vraag2">&nbsp;&nbsp;Ordinary<br />
                <input type="radio" value="gryffindor" name="vraag2">&nbsp;&nbsp;Ignorant<br />
                <input type="radio" value="slytherin" name="vraag2">&nbsp;&nbsp;Selfish<br />
            </p>
            <p>
                <strong>Question 3</strong><br />
                What do you find most important in life?<br />
                <input type="radio" value="hufflepuff" name="vraag3">&nbsp;&nbsp;Hanging out with friends, helping others<br />
                <input type="radio" value="ravenclaw" name="vraag3">&nbsp;&nbsp;Reading books, obtaining knowledge<br />
                <input type="radio" value="gryffindor" name="vraag3">&nbsp;&nbsp;Going on new adventures, always trying out new exciting things<br />
                <input type="radio" value="slytherin" name="vraag3">&nbsp;&nbsp;Earning money, always looking for opportunities<br />
            </p>
            <p>
                <strong>Question 4</strong><br />
                What’s your pet of choice?<br />
                <input type="radio" value="slytherin" name="vraag4">&nbsp;&nbsp;A Cat<br />
                <input type="radio" value="gryffindor" name="vraag4">&nbsp;&nbsp;A Dog<br />
                <input type="radio" value="ravenclaw" name="vraag4">&nbsp;&nbsp;A type of Bird<br />
                <input type="radio" value="hufflepuff" name="vraag4">&nbsp;&nbsp;A Rabbit<br />
            </p>
            <p>
                <strong>Question 5</strong><br />
                If I’m facing a very important decision I will:
                <br />
                <input type="radio" value="ravenclaw" name="vraag5">&nbsp;&nbsp;Think it through real hard<br />
                <input type="radio" value="slytherin" name="vraag5">&nbsp;&nbsp;Try to think of a way around it	 <br />
                <input type="radio" value="gryffindor" name="vraag5">&nbsp;&nbsp;Do the best I can, I’m not scared of a little challenge<br />
                <input type="radio" value="hufflepuff" name="vraag5">&nbsp;&nbsp;Get very anxious and stressed to the point where I’m having trouble falling asleep<br />
            </p>
            <br />
            <br />

            <button type="submit" id="submitbutton" class="btn btn-secondary" style="color:black"> &nbsp; SUBMIT &nbsp;  </button>
        </div>
    </form>
}
else if (valid)
{
    <div class="col-md-12" align="center">
        <h1 class="harry-font">Sorting Hat</h1>
        <br />
        <p> The wise sorting hat has spoken and came to the following conclusion:</p>
        <br />

        <h3 class="harry-font">Your house is @house!</h3>
        <img style="width:250px; min-width:250px;" src="@houseImagePath" />
        <br />
        <br />
        <br />
        <a class="btn btn-lg btn-default" href="Portal.cshtml">Continue!</a>

    </div>
}
else
{
    <h2 class="harry-font">Woops!</h2>
    <p> Looks like you forgot some questions, make sure you fill in all the questions!</p>
    <a class="btn btn-lg btn-default" href="Sortinghat.cshtml">Back</a>
}