@helper GetFormFieldError(string name, bool isValid, bool show = false)
{
    if (!isValid)
    {
        FormHelper.GetFormError(name, show);
    }
}

@helper GetFormError(string name, bool show = false)
{
    if (show)
    {
        <span class="form-error">
            - @Html.ValidationMessage(name)
        </span>
    }
}